<html>
<head><title>Screen graber</title></head>
<body><script>
var shail = "{{ shail }}";
{{ alert }}
</script><center> Take screenshots
<form action="sc" method="post"><input type="text" placeholder="Enter name for screenshots" name="nam" style="width:165"></input>
<input type=submit value="Take"></form>
<form action="del" method="post">
<input placeholder="Enter name of screenshot" type="text" name="namee" style="width:165"></input><input type="submit" value="Delete">
</form>
 <button type="button" onclick="location.href='secret-zone';">Go back</button><br>
 <button type="button" onclick="alert('Created by shail HA ha !')">Click me for no reason</button><br>
 <iframe src="/screenshot_list" height="100%" width="100%"></src>
</form></center>
